:root {
    --page-color: #FFFFFF;
    --logo-color: #4D5AE5;
    --hero-background: #2E2F42;
    --button-color: #404BBF;
    --text-item: #434455;
    --text-lightcolor: #F4F4FD;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-item);
    background-color: var(--page-color);
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    margin-right: 76px;

}

.header-logo-part {
    color: var(--hero-background);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-list-item {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hero-background);
    padding: 24px 0;
}

.header-list-item:hover,
.header-list-item:focus {
    color: var(--button-color);
}

.header-list-item.active::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
        background: var(--button-color);
}


.header-address {
    font-style: normal;

}

.header-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contacts-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
}

.header-contacts-item:hover,
.header-contacts-item:focus {
    color: var(--button-color);
}



.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--page-color);
    max-width: 496px;
    margin: 0 auto 48px auto;

}

.hero-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--page-color);
    background-color: var(--logo-color);
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    border: none;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;

}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--button-color);
}

.hero {
    background-color: var(--hero-background);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/bg-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.features {
    padding: 120px 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.features-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);

}

.features-list-item:not(:last-child) {
    margin-right: 24px;
}

.features-item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--hero-background);
    margin: 0 0 8px 0;
}

.features-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-item);
    margin: 0;

}

.work {
    padding-top: 60px;
    padding-bottom: 120px;
}

.work-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--hero-background);
    margin: 0 0 72px 0;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.work-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
}

.work-list-item:not(:last-child) {
    margin-right: 24px;
}

.team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--hero-background);
    margin: 0 0 72px 0;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.team-worker {
    background-color: var(--page-color);
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-worker:not(:last-child) {
    margin-right: 24px;
}

.photo-worker {
    width: 100%;
}

.team-worker-content {
    padding: 32px 16px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.team-worker-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--hero-background);
    margin: 0 0 8px 0;
}

.team-worker-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
    margin: 0;
}

.team {
    background-color: var(--text-lightcolor);
    padding-top: 120px;
    padding-bottom: 120px;
}

.clients-title {
    color: var(--hero-background);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;

}

.clients-list {

}

.clients-item {

}

.clients-link {

}

.clients-icon {

}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-part {
    color: var(--text-lightcolor)
}

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-lightcolor);
    margin: 17.5px 0 0 0;
}

.footer {
    background-color: var(--hero-background);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    padding: 0;
    margin-left: 156px;
}

.filter {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 72px;

}

.filter-button:not(:last-child) {
    margin-right: 24px;
}


.filters-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    background: var(--text-lightcolor);
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid var(--cornflower, #E7E9FC);
}

.filters-btn:hover,
.filters-btn:focus {
    background: var(--button-color);
    color: var(--page-color);
    border: 1px solid transparent;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-list-content {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-photo {
    display: block;
    width: 100%;
}


.portfolio-list-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--hero-background);
    margin-bottom: 8px;

}

.portfolio-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-item);
}